{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Магазин за подводен риболов "Le Grand Blue"{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
              crossorigin="anonymous">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script>
        setTimeout(function () {
            $("#infomsg").fadeOut();
        }, 2500);
    </script>
</head>

{% block header %}
    <header>
        <nav class="navbar fixed-top navbar-dark bg-primary" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <a href="{{ path('homepage') }}" class="navbar-brand">
                        Le Grand Blue
                    </a>
                    <span class="dropdown">
                            <a class="navbar-brand dropdown-toggle" href="#" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Категории
                            </a>

                            <span class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for category in product_categories.getAllCategories() %}
                                    <a class="dropdown-item"
                                       href="{{ path('category', {"id":category.id}) }}">{{ category.name }}
                                    </a>
                                {% endfor %}
                            </span>
                        </span>
                    <a href="{{ path('contact_form') }}" class="navbar-brand">
                        Контакти
                    </a>
                </div>

                <div class="navbar-right">
                    {% if app.user %}
                        <div class="navbar-brand">Здравей, <a
                                    href="{{ path('user_profile') }}">{{ app.user.firstName }}</a>!
                        </div>
                        <span> <a href="{{ path('view_cart') }}">
                                    Количка
                                </a><i class="fas fa-cart-arrow-down"></i> ({{ cart_products.numberOfProductsInCart() }}) |
                    </span>

                        {% for role in app.user.roles if role == 'ROLE_ADMIN' %}
                            </span>
                            <span class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Администрация
                            </a>

                            <span class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('category_show_all') }}">Продукти</a>
                                <a class="dropdown-item" href="{{ path('categories_all') }}">Категории</a>
                                <a class="dropdown-item" href="{{ path('users_all') }}">Потребители</a>
                                <a class="dropdown-item" href="{{ path('all_messages') }}">Съобщения</a>
                                <a class="dropdown-item" href="#">------------------------</a>
                                 <a class="dropdown-item" href="{{ path('orders_all') }}">Моите поръчки</a>
                                <a class="dropdown-item" href="{{ path('user_profile') }}">Редакция на профил</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">Изход</a>
                            </span>
                        </span>

                        {% else %}

                            <span class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Потребителско меню
                            </a>

                            <span class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('orders_all') }}">Моите поръчки</a>
                                <a class="dropdown-item" href="{{ path('user_profile') }}">Редакция на профил</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">Изход</a>
                            </span>
                        </span>
                        {% endfor %}

                    {% else %}
                        <span>
                        <a href="{{ path('register') }}">
                            РЕГИСТРИРАЙ СЕ
                        </a>|
                        </span>
                        <a href="{{ path('login') }}">
                            ВХОД
                        </a>
                    {% endif %}
                </div>
            </div>

        </nav>
    </header>
{% endblock %}

{% block headBackground %}

    <a href="{{ path('homepage') }}">

        <div class="row">
            <div class="col-12">
                <img src="{{ asset('images/backgrounds/smallback.jpg') }}" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <h1 style="text-align: center; color: white; font-weight: bold">Le Grand Blue</h1>
                    <h2 style="text-align: center; color: white">Магазин за подводен риболов и свободно гмуркане</h2>

                </div>
            </div>
        </div>
    </a>

{% endblock %}

<div class="container">
    {% block jumboo %} {% endblock %}
</div>


<hr class="container" style="border: 1px solid deepskyblue;">
<div class="container">
    {% block body %}
        {% block offers %}
        {% endblock %}
    {% endblock %}
</div>
<hr class="container" style="border: 1px solid deepskyblue; margin-bottom: 50px;margin-top: 50px;">
{% block footer %}
    <footer>
    <div class="container panel-footer">
    <div class="row">
        <div class="col-4 rounded border border-primary" style="padding: 30px;">
            <h4>Бързи връзки</h4>
            <hr>
            <p><a href="{{ path('homepage') }}">Начало</a></p>
            <p><a href="{{ path('orders_all') }}">Моите поръчки</a></p>
            <p><a href="{{ path('view_cart') }}">Количка</a></p>
            <p><a href="#">Връзка с нас</a></p>
        </div>
        <div class="col-4 rounded border border-primary" style="padding: 30px;">
            <h4>Продукти</h4>
            <hr>
            <p><a href="{{ path('homepage') }}">Последно добавени</a></p>
            <p><a href="{{ path('orders_all') }}">Препоръчано от нас</a></p>

        </div>
        <div class="col-4 rounded border border-primary" style="padding: 30px;">
            <h4>Контакти</h4>
            <hr>
            <p>Адрес: София 1000</p>
            <p>ул. София, N1, ап. 01</p>
            <p>Телефон: 02/1234 5678</p>
            <p>Мобилен: 088/888 888</p>
        </div>

        <div class="col"></div>

    </div>
    </div>
    </footer>
    <footer>
        <div class="container modal-footer">
            <p>&copy; 2019 KDV</p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

</body>
</html>















