{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <h2 class="page-title">Edit Product here!</h2>
            <br/>
            {{ form_start(productForm) }}
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.name) }}
                </div>
                {{ form_widget(productForm.name) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.description) }}
                </div>
                {{ form_widget(productForm.description) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.price) }}
                </div>
                {{ form_widget(productForm.price) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.brand) }}
                </div>
                {{ form_widget(productForm.brand) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.length) }}
                </div>
                {{ form_widget(productForm.length) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.model) }}
                </div>
                {{ form_widget(productForm.model) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.quantity) }}
                </div>
                {{ form_widget(productForm.quantity) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.size) }}
                </div>
                {{ form_widget(productForm.size) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.promoPrice) }}
                </div>
                {{ form_widget(productForm.promoPrice) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.category) }}
                </div>
                {{ form_widget(productForm.category) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.featured) }}
                </div>
                {{ form_widget(productForm.featured) }}
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    {{ form_label(productForm.image) }}
                </div>
                {{ form_widget(productForm.image) }}
            </div>
            <div class="form-group">
                {{ form_widget(productForm.submit) }}
            </div>

            {# <div class="images-holder" data-prototype="{{form_widget(form.productImages.vars.prototype)|e('html_attr')}}">
                {% for image in form.productImages %}
                    <div class="image-single">
                        <div>
                            {{ form_label(image.file) }}
                            {{ form_widget(image.file) }}
                        </div>
                        <div>
                            {{ form_label(image.isFrontImage) }}
                            {{ form_widget(image.isFrontImage) }}
                        </div>
                        <div>
                            {{ form_label(image.description) }}
                            {{ form_widget(image.description) }}
                        </div>
                    </div>
                {% endfor %}
            </div>#}
            {#
                    <button type="submit">Create!</button>
            #}
            {{ form_end(productForm) }}
        </div>
    </div>
{% endblock %}

