{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-6">
        <article>
            <header>
                <h2>{{ product.name}}</h2>
            </header>

            <p>
                {{ product.price }}
            </p>

            <p>
                <a href="{{ path('view_product', {"id": product.id}) }}">
                    <img src="{{ asset('uploads/images/'~product.image) }}"></a>
            </p>

            <small class="author">
                {{ product.category.name }}
            </small>

            <footer>
                <div class="pull-right">
                    <a class="btn btn-default btn-xs"
                       href={{ path('edit_product', {"id":product.id}) }}>Edit &raquo;</a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-danger btn-xs"
                       href={{ path('delete_product', {"id":product.id}) }}>Delete &raquo;</a>
                </div>
            </footer>
        </article>
    </div>
{% endblock %}

