{% extends 'base.html.twig' %}

{% block body %}

    <h3><span class="blockquote-footer"><a
                    href="{{ path('category', {"id":product.category.id}) }}">{{ product.category.name }}</a></span>
    </h3>

    <header>
        <h2>{{ product.name }}</h2>
    </header>

    <div class="row">
        <div class="col-8">
            <div>
                <img src="{{ asset('uploads/images/'~product.image) }}" width="600px">
            </div>
            <br>
            <h3> <span class="badge badge-secondary">
            Цена: {{ product.price }} лв.</span>
                <span class="small">Налични: {{ product.quantity }} броя.</span>
            </h3>
            <div>
                <p style="font-size: 1.2em">
                {{ product.description }}
                </p>
            </div>
        </div>
        <div class="col-4">
{#
            <hr style="border: 1px solid darkolivegreen">
#}
            <div><span style="margin-right: 10px;"><input type="number" id="form_qty"
                                                         name="form[qty]" required="required"
                                                         pattern="[0-9]+" value="1"></span><label for="form_qty"
                                                                                                  class="required">Избери
                    количество</label></div>
            <div>
                <a href="{{ path('add_to_cart', {"id":product.id}) }}">
                    <button class="btn btn-success" style="text-transform: uppercase">Добави в количката</button>
                </a>
            </div>
            <hr style="border: 1px solid darkolivegreen">
        </div>
    </div>



    {% if app.user is not null %}
        {% for role in app.user.roles if role == 'ROLE_ADMIN' %}
            <footer>
                <div class="pull-right">
                    <a class="btn btn-success btn-xs"
                       href={{ path('edit_product', {"id":product.id}) }}>Редактирай</a>

                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                            data-target="#exampleModalCenter">
                        Изтрий
                    </button>
                </div>
            </footer>
        {% endfor %}

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Изтриване</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Сигурен ли сте, че искате да изтриете продукта?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Откажи</button>
                        <a href={{ path('delete_product_from_category', {"id":product.id}) }}><button type="button" class="btn btn-danger btn-xs">Изтрий</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>







{% endblock %}