{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=12 offset=2">
        <div class="well">
            <hr>
            <h3>Регистрация на нов потребител</h3>
            <hr>

            {% for msg in app.session.flashBag.get("registerInfo") %}
                <div id="infomsg" class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                    {{ msg }}
                </div>
            {% endfor %}

            {{ form_start(registerForm, {attr: {novalidate: 'novalidate'}}) }}

            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    {{ form_label(registerForm.email) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(registerForm.email) }}
                </div>
                <div class="col-sm-2">{{ form_errors(registerForm.email) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    {{ form_label(registerForm.firstName) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(registerForm.firstName) }}
                </div>
                <div class="col-sm-2">{{ form_errors(registerForm.firstName) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    {{ form_label(registerForm.lastName) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(registerForm.lastName) }}
                </div>
                <div class="col-sm-2">{{ form_errors(registerForm.lastName) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    {{ form_label(registerForm.password) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(registerForm.password) }}
                </div>
                <div class="col-sm-2">{{ form_errors(registerForm.password) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    {{ form_label(registerForm.address) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(registerForm.address) }}
                </div>
                <div class="col-sm-2">{{ form_errors(registerForm.address) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    {{ form_label(registerForm.phone) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(registerForm.phone) }}
                </div>
                <div class="col-sm-2">{{ form_errors(registerForm.phone) }}</div>
            </div>
            <div class="form-group row">
                <button class="btn btn-primary">Регистрирай се</button>
            </div>

            {{ form_end(registerForm) }}
        </div>
    </div>


{% endblock %}

 {% block logos %}

     <hr class="container" style="border: 1px solid deepskyblue;">

     <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2500">
         <div class="carousel-inner">
             <div class="carousel-item active">
                 <img class="d-block w-100"
                      src="{{ asset('images/logos/logoshow1.png') }}"

                      alt="First slide">
             </div>
             <div class="carousel-item">
                 <img class="d-block w-100"
                      src="{{ asset('images/logos/logoshow2.png') }}"
                      alt="Second slide">
             </div>
         </div>
     </div>

 {% endblock %}


{% form_theme registerForm _self %}

{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="offset-sm-2">
                    <div class="alert alert-danger" style="width: 500px;font-weight: bold" role="alert">
                        {{ error.message }}</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

